# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
out
gen

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# skip *.tar files
*.pth.tar
*.tar

# tensorboard
tensorboard
events.*
events.*
experiments
# log files.
# *.log
# *best_result.json